@page "/"
@using BlazorApp.Shared

<PageTitle>Home</PageTitle>

<p>
    <label>
        Team 1 Name:
        <input @bind="Team1.Name" />
    </label>
</p>

<p>
    <label>
        Team 2 Name:
        <input @bind="Team2.Name" />
    </label>
</p>

<p>
    <label>
        Submit Team Names
        <button id="SubmitButton" @onclick="SetTeamNames" style="width:fit-content">Submit</button>
    </label>
</p>

<ul>
    <li>@team1name</li>
    <li>@team2name</li>
</ul>
